{% extends "app/base.html" %}
{% load bootstrap3 %}

{% block title %}Donate{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
    <script src="{{ STATIC_URL }}js/balance-integration.js"></script>
    <script>
        balanced.init("{{ balanced_uri }}");
    </script>
{% endblock javascript %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/support.css" type="text/css">
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Donate</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-lg-6">
          <div class="donor_lvl platinum">
            <h1>Platinum</h1>
            <h2>$1000+</h2>
          </div>

          <div class="donor_lvl gold">
            <h1>Gold</h1>
            <h2>$500+</h2>
          </div>

          <div class="donor_lvl silver">
            <h1>Silver</h1>
            <h2>$250+</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="donor_lvl bronze">
            <h1>Bronze</h1>
            <h2>$100+</h2>
          </div>

          <div class="donor_lvl individual">
            <h1>Individual</h1>
            <h2>$50+</h2>
          </div>

          <div class="donor_lvl other">
            <h1>Other</h1>
            <h2>$25</h2>
          </div>
        </div>
      </div>

      <div class="col-lg-4">

        <!-- donation amt form -->
        <form role="form" class="form-horizontal" style="margin-top:25px">
          <div class="form-group">
            <label for="donationAmt" class="col-lg-2 control-label">$</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="Donation" id="donationAmt" />
            </div>
          </div>
        </form>

        <!-- payment select form -->
        <form class="form-inline" role="form" style="margin-top: 40px; margin-bottom: 40px; height: 34px;" id="payment-select-form">
          <div class="radio" id="donate_source">
            <label><input type="radio" name="donate_source" id="donate_source_B" value="B" checked="checked">Bank</label>
            <label><input type="radio" name="donate_source" id="donate_source_C" value="C">Credit Card</label>
            <label><input type="radio" name="donate_source" id="donate_source_P" value="P">PayPal</label>
            <label><input type="radio" name="donate_source" id="donate_source_G" value="G">Pledge</label>
          </div>
        </form>

        <!-- bank form -->
        <form role="form" id="form-B" class="payment-form">
          <div class="form-group">
          <label for="bankName">Bank Name</label>
          <input type="text" class="form-control" id="bankName" />
          </div>
          <div class="form-group">
          <label for="routingNumber">Routing Number</label>
          <input type="text" class="form-control" id="routing" />
          </div>
          <div class="form-group">
          <label for="acctNumber">Account Number</label>
          <input type="text" class="form-control" id="account" />
          </div>
          <div class="form-group">
          <label for="bankAcctType">Type</label>
            <select>
              <option value="checking">Checking</option>
              <option value="savings">Savings</option>
            </select>
          </div>
        </form>

        <!-- credit card form -->
        <form role="form" id="form-C" class="payment-form hidden">
          <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <input type="text" class="form-control" id="cardNumber" />
          </div>
          <div class="form-group">
          <label for="expiration">Expiration</label>
          <input name="expiration" class="form-control" placeholder="mm/yyyy">
          </div>
          <div class="form-group">
          <label for="acctNumber">Security Code</label>
          <input type="text" class="form-control" id="account" />
          </div>
        </form>

        <!-- Pledge instructions -->
        <div class="payment-form hidden" id="form-G">
          <p>Please provide a phone number at right. We will follow up within two business days.</p>
        </div>
      </div>

        <div class="col-lg-4">
        {% csrf_token %}
        {% bootstrap_form donation_form %}
        {% bootstrap_form donor_form %}

        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Supporters</h1>
      </div>
    </div>
  </div>
{% endblock %}
