{% extends "app/base.html" %}

{% load events_extras %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">
          <h1>Events</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2>Upcoming Events</h2>
          {% for event in upcoming %}
              {% display_event event %}
          {% endfor %}
        </div>
        <div class="col-lg-6">
          <h2>Past Events</h2>
          {% for event in past reversed %}
              {% display_event event %}
          {% endfor %}
       </div>
      </div>
    </div>
{% endblock %}
