.donor_lvl {
    background-color: red;
    border-radius: 10px;
    padding:20px;
    text-align: center;
    height: 100px;
    margin: 10px;
}

.donor_lvl h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.donor_lvl h2 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.platinum {
    background-color: #f6fafa;
}
.gold {
    background-color: gold;
}
.silver {
    background-color: silver;
}
.bronze {
    background-color: #C69633;
}
.donor_lvl.active {
    border: solid black 5px;
}

.hidden {
    visibility: hidden;
}