{% spaceless %}

    <time class="dtstart" itemprop="startDate" datetime="{{ start_time.isoformat }}">
        {{ start_time|date:"DATETIME_FORMAT" }}
    </time>

    {% if end_time and end_time > start_time %}
        —
        <time class="dtend" itemprop="endDate" datetime="{{ end_time.isoformat }}">
            {% if multi_day %}
                {{ end_time|date:"DATETIME_FORMAT" }}
            {% else %}
                {{ end_time|date:"TIME_FORMAT" }}
                {% endif %}
        </time>
    {% endif %}
{% endspaceless %}
