.navbar {
    background: #366C99;
}

#events .panel-title time:before {
    content: "(";
}

#events .panel-title time:after {
    content: ")";
}

.event > h3:first-child {
    margin-top: 0;
}

.table time {
    white-space: nowrap;
}