.navbar {
    background: #366C99;
}

.homepage .jumbotron {
    background-color: inherit;
}

.homepage #events time:before {
    content: "(";
}

.homepage #events time:after {
    content: ")";
}

.event > h3:first-child {
    margin-top: 0;
}

.table time {
    white-space: nowrap;
}