{% extends "app/base.html" %}

{% load events_extras %}

{% block title %}DC Python{% endblock %}

{% block extra_head %}
    <meta name="google-site-verification" content="-D4G19_01yEEClDbiK419T2LcK1_bX4THolsbozJleY" />
{% endblock extra_head %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: white; text-align: center">
      <div class="container">
        <img src="https://raw.github.com/DCPython/dcpython-django/master/dcpython.png">
        <p>We promote and support the use of Python software in DC</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2><a href="{% url 'events' %}">Events</a></h2>

          <div id="events" class="panel-group">
              {% for event in upcoming %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              <a data-toggle="collapse" data-parent="#events" class="accordion-toggle" href="#event-{{ forloop.counter }}-collapse">
                                  {{ event.name }}
                                  <time datetime="{{ event.start_time.isoformat }}">{{ event.start_time|date:"D M dS, P" }}</time>
                                  <span class="glyphicon glyphicon-collapse-down"></span>
                              </a>
                          </h3>
                      </div>
                      <div id="event-{{ forloop.counter }}-collapse" class="panel-collapse collapse">
                          <div class="panel-body">
                              {% display_event event omit_title=True omit_time=True %}
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
        <div class="col-lg-4">
          <h2>News</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Donate</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock %}
