{% extends "app/base.html" %}

{% load events_extras %}

{% block title %}DC Python{% endblock %}

{% block head %}<meta name="google-site-verification" content="-D4G19_01yEEClDbiK419T2LcK1_bX4THolsbozJleY" />{% endblock %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: white; text-align: center">
      <div class="container">
        <img src="https://raw.github.com/DCPython/dcpython-django/master/dcpython.png">
        <p>We promote and support the use of Python software in DC</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Events</h2>
          {% for event in upcoming %}
              <hr />
              <h3>{{ event.name }}</h3>
              <h4>{% format_event_date event.start_time event.end_time %}</h4>
              <h5>{{ event.venue.name }}<br />
                  {{ event.venue.address_1 }}<br />
                  {{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip }} {{ "USA" }}<br>
              </h5>
              {{ event.description | truncatewords_html:140 | safe}}
              <p>
                  <a class="btn btn-default" href="{{ event.event_url}}">View event »</a>
              </p>
          {% endfor %}
        </div>
        <div class="col-lg-4">
          <h2>News</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Donate</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock %}
