{% extends "app/base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-12">
      <h1>DC Python Resources</h1>
        <h2 id="chat">Chat</h2>
          <p>Members of the board and community are often available to chat in the <strong>#dcpython</strong> channel on <strong>irc.freenode.net</strong>.</p>
        <h2 id="logs">Logs</h2>  
          <p>We provide a <a href="http://dcpython.gekitsuu.org">log of our online conversations</a>. In addition to our chats, we provide logs as a service to other members of the open source community. If you are interested in having your channel logged, please <a href="mailto:aclark@dcpython.org">get in touch</a>.</p>
        <h2>Code</h2>    
          <p>We have some <a href="https://github.com/DCPython">code at GitHub</a>.</p>  
      
      <header>
        <h1>Friends Of DC Python</h1>
        <h2>What's Python in DC & the Surrounding Areas</h2>
      </header>
          <h3>DC PyLadies</h3>
            <ul class="list-unstyled">
              <li><a href="http://www.meetup.com/dc-pyladies">meetup.com/dc-pyladies</a></li>
              <li><a href="https://twitter.com/PyLadiesDC/">twitter.com/PyLadiesDC</a></li>            
            </ul>
            <p>The DC chapter of Pyladies, an international group focused on getting more women into the Python community and programming.</p>
          <h3>django-district</h3>
            <ul class="list-unstyled">
              <li><a href="http://www.meetup.com/django-district/">meetup.com/django-district</a></li>
              <li><a href="https://twitter.com/django_district/">twitter.com/django_district</a></li>
            </ul>
            <p>django-district is a group for users of the Django web framework in the Washington, D.C. area.</p>
          <h3>NOVA-Python</h3>
            <ul class="list-unstyled">
              <li><a href="http://www.meetup.com/NOVA-Python/">meetup.com/NOVA-Python</a></li>
              <li><a href="https://twitter.com/NOVAPython/">twitter.com/NOVAPython</a></li>
            </ul>
            <p>Northern Virginia Python Users Group</p>
          <h3>The Baltimore, Annapolis, Columbia, and Other Northern DC suburbs Python Interest Group (BACON-PIG)</h3>
            <ul class="list-unstyled">
              <li><a href="https://pangalactic.us/mailman/listinfo/bacon-pig">BACON-PIG mailing list</a></li>
            </ul>
          <h3>Baltimore Python</h3>
            <ul class="list-unstyled">
              <li><a href="http://www.meetup.com/baltimore-python/">meetup.com/baltimore-python</a></li>
            </ul>
    </div>
  </div>
</div>
{% endblock %}


      
