{% extends "app/base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Contact Us</h1>
        <p><a href="mailto:board@dcpython.org">board@dcpython.org</a></p> 
        <p>(301) 312-5236</p>
    </div>
    <div class="col-lg-6">
      <h1>Follow Us Elsewhere</h1>
        <p><a href="http://twitter.com/DCPython/" rel="me">Twitter</a></p>
        <p><a href="http://www.meetup.com/dcpython/" rel="me">Meetup</a> (Become a member of our group and sign up for our e-mail list!)</p>
        <p><a href="http://www.slideshare.net/dcpython" rel="me">slideshare.net/dcpython</a></p>
    </div>
  </div>
</div>
{% endblock %}
       
