{% extends "app/base.html" %}
{% load bootstrap3 %}

{% block title %}Donate{% endblock %}

{% block head %}
  <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
  
  <script type="text/javascript">
    balanced.init({{ balanced_uri }});
  </script>
  
  <style type="text/css">
  .donor_lvl {
    background-color: red;
    border-radius: 10px;    
    padding:20px;
    text-align: center;
    height: 100px;
    margin: 10px;
  }

  .donor_lvl h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .donor_lvl h2 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
  }

  .platinum {
    background-color: #f6fafa;
  }
  .gold {
    background-color: gold;
  }
  .silver {
    background-color: silver;
  }
  .bronze {
    background-color: #C69633;
  }
  .donor_lvl.active {
    border: solid black 5px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Donate</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="donor_lvl platinum">
          <h1>Platinum</h1>
          <h2>$1000+</h2>
        </div>

        <div class="donor_lvl gold">
          <h1>Gold</h1>
          <h2>$500+</h2>
        </div>

        <div class="donor_lvl silver active">
          <h1>Silver</h1>
          <h2>$250+</h2>
        </div>        
      </div>
      <div class="col-lg-2">
        <div class="donor_lvl bronze">
          <h1>Bronze</h1>
          <h2>$100+</h2>
        </div>

        <div class="donor_lvl individual">
          <h1>Individual</h1>
          <h2>$50+</h2>
        </div>

        <div class="donor_lvl other">
          <h1>Other</h1>
          <h2>$25</h2>
        </div>
      </div>

      <div class="col-lg-4">
        <form role="form" class="form-horizontal">
          <label for="donationAmt" class="col-lg-2 control-label">$</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Donation" id="donationAmt" />
          </div>
        </form>
      </div>
	  
	  <div class="payment type">
		  <form class="form-inline" role="form">
			  <div class="radio">
				<label>
				  <input type="radio" name ="donate source"> Bank
				</label>
				<label>
				  <input type="radio" name ="donate source"> Credit Card
				</label>
				<label>
				  <input type="radio" name ="donate source"> PayPal
				</label>
				<label>
				  <input type="radio" name ="donate source"> Pledge
				</label>
			  </div>
		  </form>
	  </div>

	  <div class="bank">
		  <form role="form">
			<div class="col-lg-12">
				<h3>Bank</h3>
			</div>
			  <div class="form-group">
				<label for="bankName">Bank Name</label>
				<input type="text" class="form-control" placeholder="Bank Name" id="bankName" />
			  </div>
			  <div class="form-group">
				<label for="routingNumber">Routing Number</label>
				<input type="text" class="form-control" placeholder="111111111" id="routing" />
			  </div>
			  <div class="form-group">
				<label for="acctNumber">Account Number</label>
				<input type="text" class="form-control" placeholder="000000-00" id="account" />
			  </div>
			  <div class="form-group">
				<label for="bankAcctType">Type</label>
				  <select>
					  <option value=""> </option>
					  <option value="checking">Checking</option>
					  <option value="savings">Savings</option>
				  </select>
			  </div>
			</form>
          </div>
		  
	  <div class="creditCard">
		  <form role="form">
			<div class="col-lg-12">
				<h3>Credit Card</h3>
			</div>
			  <div class="form-group">
				<label for="cardNumber">Card Number</label>
				<input type="text" class="form-control" placeholder="4111111111111111" id="cardNumber" />
			  </div>
			  <div class="form-group">
				<label for="routingNumber">Expiration</label>
				<input name="expiration_month" placeholder="1"> / <input name="expiration_year" placeholder="2020">
			  </div>
			  <div class="form-group">
				<label for="acctNumber">Security Code</label>
				<input type="text" class="form-control" placeholder="123" id="account" />
			  </div>
			</form>
       </div>
		  
		  
      <div class="col-lg-4">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Supporters</h1>
      </div>
    </div>
  </div>
{% endblock %}
