{% extends "app/base.html" %}
{% load bootstrap3 %}

{% block title %}Donate{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
    <script src="{{ STATIC_URL }}js/balance-integration.js"></script>
    <script>
        balanced.init("{{ balanced_uri }}");
    </script>
{% endblock javascript %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/support.css" type="text/css">
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Donate</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-lg-6">
          <div class="donor_lvl platinum">
            <h1>Platinum</h1>
            <h2>$1000+</h2>
          </div>

          <div class="donor_lvl gold">
            <h1>Gold</h1>
            <h2>$500+</h2>
          </div>

          <div class="donor_lvl silver">
            <h1>Silver</h1>
            <h2>$250+</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="donor_lvl bronze">
            <h1>Bronze</h1>
            <h2>$100+</h2>
          </div>

          <div class="donor_lvl individual">
            <h1>Individual</h1>
            <h2>$50+</h2>
          </div>

          <div class="donor_lvl other">
            <h1>Other</h1>
            <h2>$25</h2>
          </div>
        </div>
      </div>

      <div class="col-lg-4">

        <!-- donation amt form -->
        <form role="form" class="form-horizontal" style="margin-top:25px">
          <div class="form-group">
            <label for="donationAmt" class="col-lg-2 control-label">$</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="Donation" id="donationAmt" />
            </div>
          </div>
        </form>

        <!-- payment select form -->
        <form class="form-inline" role="form" style="margin-top: 40px; margin-bottom: 40px; height: 34px;" id="payment-select-form">
          <div class="radio" id="donate_source">
            <label><input type="radio" name="donate_source" id="donate_source_B" value="B" checked="checked">Bank</label>
            <label><input type="radio" name="donate_source" id="donate_source_C" value="C">Credit Card</label>
            <label><input type="radio" name="donate_source" id="donate_source_P" value="P">PayPal</label>
            <label><input type="radio" name="donate_source" id="donate_source_G" value="G">Pledge</label>
          </div>
        </form>

        <!-- bank form -->
        <form role="form" id="form-B" class="payment-form">
          <div class="form-group">
            <label for="name" class="control-label">Name on Account</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="routing_number" class="control-label">Routing Number</label>
            <input type="text" class="form-control" id="routing_number" />
          </div>
          <div class="form-group">
            <label for="account_number" class="control-label">Account Number</label>
            <input type="text" class="form-control" id="account_number" />
          </div>
          <div class="form-group">
          <label for="bankAcctType">Type</label>
            <select>
              <option value="checking">Checking</option>
              <option value="savings">Savings</option>
            </select>
          </div>
        </form>

        <!-- credit card form -->
        <form role="form" id="form-C" class="payment-form hidden">
          <div class="form-group">
            <label for="card_number" class="control-label">Card Number</label>
            <input type="text" class="form-control" id="card_number" />
          </div>
          <div class="form-group">
            <label for="expiration" class="control-label">Expiration</label>
            <input name="expiration" class="form-control" id="expiration" placeholder="mm/yyyy">
          </div>
          <div class="form-group">
            <label for="security_code" class="control-label">Security Code</label>
            <input type="text" class="form-control" id="security_code" />
          </div>
        </form>

        <!-- Pledge instructions -->
        <div class="payment-form hidden" id="form-G">
          <p>Please provide a phone number at right. We will follow up within two business days.</p>
        </div>
      </div>

      <div class="col-lg-4" id="master_donate_div">
        <form id="master_donate_form" role="form">
          {% csrf_token %}
          {% bootstrap_form donation_form %}
          {% bootstrap_form donor_form %}

          <button type="submit" class="btn btn-primary" id="submit_btn">
            Submit
          </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Supporters</h1>
      </div>
    </div>
  </div>
{% endblock %}
